
* {padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive sans-serif;
    font-family: cursive sans-serif ;
}
body{
    height: 100vh;
    height:100vh;
    background-image: url("../images/01-header-books-1516979187457-637abb4f9353-1024x683.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-size:cover;
    overflow: hidden;
}
#main-header{
    border-radius: 5px;
    text-shadow: 2px 2px 2px #030202;
}
.container{
    width: 50%;
    margin-top:7em;
    width:50%;
    margin-top: 7em;
}
@media screen and (max-width:800px){
@media screen and (max-width: 800px) {
    .container{
        width:70%;
    }
}
@media screen and (max-width:650px){
  }
@media screen and (max-width: 650px) {
    .container{
        width:80%;
    }
}
@media screen and (max-width:500px){
  }
@media screen and (max-width: 500px) {
    .container{
        width:99%;
        margin-top: 5em;
    }
}
  }

.item{
    display: flex;
    border-bottom:4px solid rgb(188, 186, 178) ;
}

.content{
    display: 1 1 0%;
    width: 90%;
    display:1 1 0%;
    width:90%;
}
.item .content .text{
    font-size: 1.125rem;
    width:100%;}
   .item .content .text {
	font-size: 1.125rem;
	width: 100%;
    border-color: transparent;
}
.item .content .text:hover{
    cursor: context-menu;}
.item .content .text:hover {
    cursor:context-menu;
}
.item .actions {
    display: flex;
	display: flex;
}
.item .actions button{
    margin-left: 0.5rem;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 2px 6px;
}
.item .actions button {
	margin-left: 0.5rem;
	font-weight: 700;
    font-size:0.9rem;
    padding:2px 6px;
}